.mainBody{
    background-color: var(--mainColor);
    padding: 10vh 12vw;
}

.mainBodyWrapper{
    height: 86vh;
    background-color: var(--mainColorShade);
    display:flex;
    flex-direction: column;
}

.heroSectionContainer{
    display: flex;
    justify-content: space-between;
    gap:4.5rem;
}

.heroTextContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5em;
    align-items: flex-start;
}

.heroTag{
    font-size: var(--biggestSize);
}

.heroDescription{
    font-size: var(--bigSize);
}

.heroLink{
    font-size: var(--bigSize);
    border-radius: 10px;
    border: 4px solid #646cff;
    padding: 0.3em .6em;
    transition: border-color 0.25s;
}

.heroLink:hover{
    border-color: #535bf2;
}

.heroDemo{
    width: 50%;   
    margin: auto 0;
}

.heroVid{
    width: 100%;
    height: auto;
    display: block;
}

.infoSectionParent{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--mainColorShade);
    padding: 10vh 12vw;
    margin: auto 0;
}

.infoTitle{
    font-size: var(--bigSize);

}

@media only screen and (max-width: 600px){
    .heroSectionContainer{
        flex-direction: column;
    }

    .heroDemo{
        width: 100%;   
    }
    
    .heroVid{
        width: 100%;
        height: auto;
        display: block;
    }
}



@media only screen and (max-width: 600px){
    .heroSectionContainer{
        flex-direction: column;
    }

    .heroDemo{
        width: 100%;   
    }
    
    .heroVid{
        width: 100%;
        height: auto;
        display: block;
    }
}