.instructionsParent{
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.instructionText{
    display: flex;
    flex-direction: column;
    gap:1em;
    align-items: flex-start;
}

.stepTxt{
    font-size: var(--bigSize);
}

.txt{
    margin-bottom: 0.5em;
}

.vids{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stepVid{
    width: 90%;
    height: auto;
    display: block;
}

.instructionWrapper{
    display:flex;
    flex-direction: column;
    padding: 5vh 12vw;
    gap:1.5em;
}

.stepButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .instructionsParent{
        flex-direction: column;
    }

    .stepVid{
        width: 100%;
    }

}